/* Main Styles */

body{
  width: 90%;
  margin: auto;
}

.hidden {
    display: none;
}

/* Tiles */

#gameboard {
  padding: 0;
  margin-right: 4rem;
}
#gameboard .row div {
  text-align: center;
}
#gameboard div.col-xs-3 {
  width: 33%;
}
.tile {
  background-image: url('../images/grass.png'); /* courtesy of background-tiles.com */
  width: 100%;
  min-width: 75px;
  height: 100%;
  min-height: 75px;
  border: 1px solid gray;
  display: inline-block;
  font-size: 5rem;
  cursor: pointer;
}
.tile:hover {
  background-image: url('../images/grass-hover.png');
}

/* Character Maker 
.character-image {
  margin-left: 20rem;
}

.character-options {
  margin-left: 20rem;
}
*/

/* Bunny Avatar */
.bunny {
    width: 100px;
    height: 100px;
    margin-left: -100px;
    border-radius: 50%;
    color: lightgray;
    box-shadow:
        230px 180px 0 -40px black,
        170px 180px 0 -40px black,
        200px 180px 20px 2px lightgray,
        200px 190px 1px 20px darkgray;
    position: absolute;
}
.bunny::before {
    content: '';
    width: 50px;
    height: 150px;
    border-radius: 50% 50% 20% 50%;
    position: absolute;
    box-shadow:
        185px 70px 12px -16px darkgray,
        265px 70px 12px -16px darkgray,
        190px 60px 0 0 lightgray,
        260px 58px 0 0 lightgray;
    z-index: -1;
}
.bunny::after {
    content: '';
    margin-left: 235px;
    margin-top: 240px;
    border-radius: 37% 37% 0 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 20px solid rgb(249, 127, 192, 0.9);
    position: absolute;
}

/* Puppy Avatar */
.puppy {
    width: 100px;
    height: 100px;
    margin-left: -100px;
    border-radius: 50%;
    color: lightgray;
    box-shadow:
        230px 180px 0 -40px black,
        170px 180px 0 -40px black,
        200px 180px 20px 2px chocolate,
        200px 190px 1px 20px saddlebrown;
    position: absolute;
}

.puppy::before {
    content: '';
    width: 60px;
    height: 90px;
    border-radius: 195% 190% 627% 97%;
    position: absolute;
    box-shadow:
        145px 175px 12px -9px chocolate,
        305px 175px 12px -9px chocolate,
        145px 170px 0 0 saddlebrown,
        305px 170px 0 0 saddlebrown;
}

.puppy::after {
    content: '';
    margin-left: 235px;
    margin-top: 240px;
    border-radius: 37% 37% 0 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 20px solid rgb(53, 30, 10, 0.9);
    position: absolute;
}

/* Avatar Expressions */

.neutral {
    width: 55px;
    height: 40px;
    border-radius: 11%;
    border-bottom: 3px solid black;
    position: absolute;
    margin-left: 125px;
    margin-top: 250px;
}

.neutral::before {
    content: '';
    width: 30px;
    height: 10px;
    border-width: 3px 0 0 0;
	border-style:solid;
	border-color: black;
    border-radius: 50% 50% 50% 6%;
    position: absolute;
    margin-left: -20px;
    margin-top: -35px;
}

.neutral::after {
    content: '';
    width: 30px;
    height: 10px;
    border-width: 3px 0 0 0;
	border-style:solid;
	border-color: black;
    border-radius: 50% 50% 6% 50%;
    position: absolute;
    margin-left: 40px;
    margin-top: -35px;
}

.sad {
    width: 50px;
    height: 20px;
    border-radius: 45%;
    border-top: 4px solid black;
    position: absolute;
    margin-left: 125px;
    margin-top: 280px;
}

.sad::before {
    content: '';
    width: 30px;
    height: 10px;
    border-width: 0 0 3px 0;
	border-style:solid;
	border-color: black;
    border-radius: 50% 50% 50% 6%;
    position: absolute;
    margin-left: -20px;
    margin-top: -82px;
}

.sad::after {
    content: '';
    width: 30px;
    height: 10px;
    border-width: 0 0 3px 0;
	border-style:solid;
	border-color: black;
    border-radius: 50% 50% 6% 50%;
    position: absolute;
    margin-left: 40px;
    margin-top: -82px;
}

.happy {
    width: 50px;
    height: 50px;
    border-radius: 45%;
    border-bottom: 4px solid black;
    position: absolute;
    margin-left: 125px;
    margin-top: 230px;
}

.happy::before {
    content: '';
    width: 30px;
    height: 20px;
    border-width: 3px 0 0 0;
	border-style:solid;
	border-color: black;
    border-radius: 50% 50% 50% 6%;
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
}

.happy::after {
    content: '';
    width: 30px;
    height: 20px;
    border-width: 3px 0 0 0;
	border-style:solid;
	border-color: black;
    border-radius: 50% 50% 6% 50%;
    position: absolute;
    margin-left: 40px;
    margin-top: -20px;
}